body{
    font-family: 'Raleway', sans-serif;
}
.nav-wrapper{
    background-color: rgb(78, 83, 88);
    color: white;
    font-weight: 500;
}
.brand-logo{
    margin-right: 5%;
}
.hide-on-med-and-down{
    margin-left: 5%;
}
.name{
    font-family: 'Calligraffitti', cursive;
    font-weight: 600;
}
.DeCoLink{
    color: blue !important;
}
#Contacto{
    color: black !important;
}
.iconSubtitle{
    color: rgb(78, 83, 88) !important;
    font-weight: bolder;
    margin-bottom: 30%;
    font-size: 20px;
}

/* Desktop */
@media (min-width:600px){
.myPic{
    width: 20%;
}
.aboutMe{
    font-size: 20px;
}

.BookMe{
    margin-left: 2%;
}
.LPS{
    margin-left: 2%;
}
.Translab{
    margin-right: 2%;
}
.ProjectsImg{
    width: 20%;
}
.Proyectos{
    width: 40%;
    margin-bottom: 20%;
    margin-left: 10%;
}
.contacto{
    width: 80%;
}
.skillsImg{
    width: 10%;
}
.skillsImgFirebase{
    width: 30%;
}
#contactTitle{
    margin-bottom: 10%;
    margin-top: 15%;
}
.iconSubtitleMail{
    font-size: 20px;
    color: rgb(78, 83, 88) !important;
    font-weight: bolder;
    margin-bottom: 30%;

}
.projectDescriptionText{
    font-size: 15px;
}

}



/* font-family: 'Calligraffitti', cursive;
font-family: 'Raleway', sans-serif; */


/* Mobile */
@media (max-width: 600px) {
    #Me{
        width: 100%;
        
        padding-bottom: 10%;
    }
    .myPic{
        margin-top: 25%;
        margin-bottom: 25%;
        width: 70%;
        margin-left: 15%;
        margin-right: 15%;
    }
    .aboutMe{
        width: 60%;
        margin-left: 20%;
    }
    #ProjectsBox{
        font-size: 300%;
        margin-top: 15%;
        margin-bottom: 15%;
        font-family: 'Raleway';
    }
    #Proyectos{
        
        width: 100%;
        padding-top: 1%;
    }
    .Proyectos{
        width: 90%;
        margin-bottom: 20%;
        margin-left: 5%;
    }
   
    .header{
        font-size: 200%;
        font-weight: bolder;
    }
    .BookMe{
        margin-left: 2%;
    }
    .LPS{
        margin-left: 2%;
    }
    .Translab{
        margin-right: 2%;
    }
    
    #skillsTitle{
        font-size: 300%;
        margin-bottom: 15%;
    }
    .skillsImg{
        width: 60%;
        margin-left: 20%;
        margin-bottom: 15%;
    }
    .skillsImgReact{
        width: 60%;
        margin-bottom: 15%;
    }
    .skillsImgFirebase{
        width: 90%;
        margin-bottom: 15%;
    }
    .contacto{
        width: 80%;
    }
    #contactTitle{
        margin-bottom: 30%;
        margin-top: 30%;
        font-size: 300%;
        margin-bottom: 15%;
        
    }
}

.section {
    text-align:center;
    font-size: 3em;
  }