body{
    font-family: 'Raleway', sans-serif;
}
.nav-wrapper{
    background-color: rgb(78, 83, 88);
    color: white;
}
.brand-logo{
    margin-right: 5%;
}
.hide-on-med-and-down{
    margin-left: 5%;
}
.myPic{
    margin-top: 60%;
    margin-bottom: 50%;

}
.name{
    font-family: 'Calligraffitti', cursive;
}
.BookMe{
    margin-left: 2%;
}
.LPS{
    margin-left: 2%;
}
.Translab{
    margin-right: 2%;
}
.Proyectos{
    width: 80%;
    margin-bottom: 20%;
    margin-left: 10%;
}
.contacto{
    width: 80%;
}
.skillsImg{
    width: 30%;
}
.skillsImgFirebase{
    width: 50%;
}

/* font-family: 'Calligraffitti', cursive;
font-family: 'Raleway', sans-serif; */
