body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    width: 100%;
    background-image: url(../../assets/img/fondo-de-acuarela-en-colores-pastel.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

main {
    flex: 1 0 auto;
}

#NombreTitulo {
    text-align: center;
}

.extracto {
    margin-top: 4em;
    width: 100%;
    text-align: center;
}

.page-footer {
    left: 0;
    bottom: 0;
    width: 100%;
    margin-top: -40px;
}

#fotoPerfil {
    width: 7em;
    height: 7em;
    position: relative;
    margin-right: -2em;
}

#BtnProjects {
    background-color: #b2ebf2 !important;
    color: black;
}

#BtnIndex {
    background-color: #b2ebf2 !important;
    color: black;
    padding-right: 3em;
}

.Habilidades {
    width: 100%;
    text-align: center;
}

.skills {
    width: 15em;
}

#ultimafoto {
    margin-bottom: 4em;
}

#logos {
    align-content: center;
}