body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    width: 100%;
    background-image: url(../../assets/img/fondo-de-acuarela-en-colores-pastel.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

main {
    flex: 1 0 auto;
}

.card {
    height: 15em;
    width: 15em;
    margin-left: 20%;
}

#BtnAboutMe {
    background-color: #b2ebf2 !important;
    color: black;
}

#BtnIndex {
    background-color: #b2ebf2 !important;
    color: black;
}

.BtnInterior {
    background-color: white;
    color: #b2ebf2;
    border: none;
    font-weight: 800;
    font-size: 20px;
}

.page-footer {
    width: 100%
}

#fotoPerfil {
    width: 7em;
    height: 7em;
    position: relative;
    margin-right: -2em;
}

.NombreTitulo {
    margin-top: 2em;
    width: 100%;
    text-align: center;
}

.datos {
    margin-left: -2em;
}

p {
    font-size: 13px;
}

.tituloCards {
    font-weight: 700;
}