body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

#BtnProjects {
    background-color: #b2ebf2 !important;
    color: black;
}

#BtnAboutMe {
    background-color: #b2ebf2 !important;
    color: black;
}

body {
    text-align: center;
}

.card {
    height: 15em;
    width: 15em;
}

#rowProyectos {
    margin-bottom: 20em;
}

#rowProyectos2 {
    margin-bottom: 20em;
}

.card-image {
    border: none;
}

#botonesRebeldes {
    align-content: center;
}