body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    width: 100%;
    background-image: url(../../assets/img/fondo-de-acuarela-en-colores-pastel.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

main {
    flex: 1 0 auto;
}

#NombreTitulo {
    text-align: center;
}

h1 {
    margin-top: 3em;
    text-align: center !important;
    position: relative;
}

.page-footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%
}

#fotoPerfil {
    width: 7em;
    height: 7em;
    position: relative;
    margin-right: -2em;
}

#BtnAboutMe {
    background-color: #b2ebf2 !important;
    color: black;
}

#BtnProjects {
    background-color: #b2ebf2 !important;
    color: black;
    padding-right: 3em;
}